RegistrationWebApplication/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2589/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2589/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2589/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrationWcfService" />
      <xsd:import schemaLocation="http://localhost:2589/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertStudDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertStudDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FetchUpdatedRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecords" />
  </wsdl:message>
  <wsdl:message name="IService1_FetchUpdatedRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStudDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStudDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertStudDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertStudDetails" message="tns:IService1_InsertStudDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertStudDetailsResponse" message="tns:IService1_InsertStudDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudDetails" message="tns:IService1_GetStudDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudDetailsResponse" message="tns:IService1_GetStudDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FetchUpdatedRecords" message="tns:IService1_FetchUpdatedRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FetchUpdatedRecordsResponse" message="tns:IService1_FetchUpdatedRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateStudDetails" message="tns:IService1_UpdateStudDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateStudDetailsResponse" message="tns:IService1_UpdateStudDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStudDetails" message="tns:IService1_DeleteStudDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStudDetailsResponse" message="tns:IService1_DeleteStudDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckLogin" message="tns:IService1_CheckLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckLoginResponse" message="tns:IService1_CheckLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertStudDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertStudDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <soap:operation soapAction="http://tempuri.org/IService1/FetchUpdatedRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateStudDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStudDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:2589/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>