RegistrationWebApplication/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RegistrationWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RegistrationWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emailaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sports" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Studaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Studid" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudDetails" nillable="true" type="tns:StudDetails" />
</xs:schema>